<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css" />
		<link rel="stylesheet" href="/styles/business.css" />
    <!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->

		<link rel="stylesheet" href="/styles/c3.min.css" />
	</head>
	<body class="right-sidebar" id="sponsors">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper" style="background-color:#00689b;padding-bottom:1em;padding-top:2em">
					<div id="header">
							<header>
                <h2 style="color:white">{{data.businessName}}</h2>
              </header>
							<nav id="nav">
								<ul>
									<li><a style="color:white" href="#pending">Pending</a></li>
									<li><a style="color:white" href="#approved">Approved</a></li>
									<li><a style="color:white" href="#tax">Tax</a></li>
									<li><a style="color:white" href="#events">Recommended  Events</a></li>
								</ul>
							</nav>
					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper" style="background-color: white">
					<div class="container">
                  <a name="pending"></a>
                  <header class="major">
                    <h2>Pending Request</h2>
                  </header>
									<br>
                  <br>
                  <section>
										<div class="row">
                      <table  class="table table-striped">
                        <thead>
                          <tr style="font-weight: bold">
                            <th>Event</th>
                            <th>Description</th>
                            <th>Live Update</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Non-profit</th>
                            <th>Action</th>
                          </tr>
                        </thead>
                        <tbody class="pending">
                          {{# each data.claims.pendingresults}}
                          <tr>
                            <td class="col-md-1">{{eventtitle}}</td>
                            <td class="col-md-4">{{eventdesp}}</td>
                            <td class="col-md-1"><a href="{{eventlink}}">link</a></td>
                            <td class="col-md-1">{{name}}</td>
                            <td class="col-md-2">{{email}}</td>
                            <td class="col-md-1">
															<span class="amt-opt1">{{amount}}</span>
															x option 1</td>
                            {{#if taxid}}
                              <td class="col-md-1">Yes</td>
                            {{else}}
                              <td class="col-md=1">No</td>
                            {{/if}}
                            <td class="col-md-1">
                              <span class="glyphicon glyphicon-ok" style="color:green"></span> or
                              <span class="glyphicon glyphicon-remove" style="color:red"></span>
                            </td>
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
										</div>
									</section>

                  <a name="approved"></a>
                  <header class="major">
                    <h2>Approved Request</h2>
                  </header>
                  <br>
                  <br>
									<section>
										<div class="row">
                      <table class="table table-striped">
                        <thead>
                          <tr style="font-weight: bold">
                            <th>Event</th>
                            <th>Description</th>
                            <th>Live Update</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Amount</th>
                            <th>Action</th>
                            <th>Non-profit</th>
                            <th>Tax Id</th>
                            <th>Tax Letter</th>
                          </tr>
                        </thead>
                        <tbody class="approved">
                          {{# each data.claims.approvedresults}}
                          <tr>
                            <td class="col-md-1">{{eventtitle}}</td>
                            <td class="col-md-3">{{eventdesp}}</td>
                            <td class="col-md-1"><a href="{{eventlink}}">link</a></td>
                            <td class="col-md-1">{{name}}</td>
                            <td class="col-md-2">{{email}}</td>
                            <td class="col-md-1">
															<span class="amt-opt1">{{amount}}</span> x option 1
														</td>
														<td class="col-md-1">
															Fulfilled
														</td>
                            {{#if taxid}}
                              <td class="col-md-1">Yes</td>
                            {{else}}
                              <td class="col-md=1">No</td>
                            {{/if}}
                            <td class="col-md-1">{{taxid}}</td>
                            {{#if taxid}}
                              <td><a href="/letter/{{slug}}">Link</a></td>
                            {{else}}
                              <td></td>
                            {{/if}}
                          </tr>
                          {{/each}}
                        </tbody>
                      </table>
										</div>
									</section>

                  <header class="major">
                    <h2>Sponsorship History</h2>
                  </header>
									<section>
										<div class="row">
											<div class="col-sm-12">
  											<div id="chart">
												</div>
											</div>
										</div>
									</section>

                  <a name="tax"></a>
                  <header class="major">
										<h2>Tax Calculator</h2>
                    <p>Use our tool to figure out the maximum amount of taxes you can save from donations! Enter your "revenue" and play around with "additional contributions" to find the perfect balance.</p>
                  </header>
									<section>
										<div class="row calculator">
											<div class="col-sm-8 col-sm-offset-3"> 
                      <div class="col-sm-6">
												<div>
													<label>Total Revenue</label>
													<br/>
													<input type="text" id="revenue"/>
													<br/>
													<br/>
												</div>
												<div>
													<label>Price Option 1</label>
													<br/>
													<input type="text" id="price-option-1" value="{{data.post.option1.price}}"/>
													x <span id="count-option-1">0</span> Units
													<br/>
													<br/>
												</div>
												<div>
													<label>Price Option 2</label>
													<br/>
													<input type="text" id="price-option-2"value="{{data.post.option2.price}}"/>
													x <span id="count-option-2">0</span> Units
													<br/>
													<br/>
												</div>
												<div>
													<label>Additional Donations</label>
													<br/>
													<input type="text" id="additional-donations"/>
												</div>
											</div>
											<div class="col-sm-6">
												<div>
  												<label>Total Donated</label>
	  											<h4>$<span id="donated">0</span></h4>
													<br/>
													<br/>
												</div>
												<div>
  												<label>Tax Savings</label>
	  											<h4>$<span id="savings">0</span></h4>
													<br/>
													<br/>
												</div>
											</div>
                      </div>
										</div>
									</section>

                    <br>
                    <a name="events"></a>
                    <header class="major">
                      <h2>Recommended Events</h2>
                      <p>These are events that we think you will be interested in sponsoring.</p>
                    </header>
										<div class="row" id="event">
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://www.giveforward.com/blog/wp-content/uploads/2012/12/breast-cancer-fundraing-event-2.jpg" alt="" /></a>
													<header>
														<h3>Breast Cancer Walk 2016</h3>
														<p>Posted 45 minutes ago</p>
													</header>
													<p>Every mile Breast Cancer walk is an opportunity to unite as a community to honor breast cancer survivors, raise awareness about the steps we can take to reduce the risk of getting breast cancer.</p>
                          <footer>
														<ul class="actions">
															<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://dailybruin.com/images/galleries/dance-marathon-2015/web.DM_.sun_.0409am.OE_.jpg" alt="" /></a>
													<header>
														<h3>Dance all night for charity</h3>
														<p>Posted 2 hours ago</p>
													</header>
													<p>Students danced for 16 hours in Carmichael Gym beginning at 7 p.m. for Dance Marathon Friday to raise a total of $41,022.59 for children suffering from chronic illnesses.</p>
                          <footer>
														<ul class="actions">
															<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
														</ul>
													</footer>
												</section>
											</div>
											<div class="4u 12u(mobile)">
												<section class="box">
													<a href="#" class="image featured"><img class="taller" src="http://dailybruin.com/images/galleries/dance-marathon-2015/web.DM_.sun_.0409am.OE_.jpg" alt="" /></a>
													<header>
														<h3>Ice cream fan meet up</h3>
														<p>Posted 90 minutes ago</p>
													</header>
                          <p>Ice cream fans gather together, talk about their favoriate ice cream flavors, share crazy fan stories, and make innovative, organic, colorful ice creams together from scratch.</p>
                          <footer>
														<ul class="actions">
															<li><a href="#" class="button icon fa-file-text">Continue Reading</a></li>
														</ul>
													</footer>
												</section>
											</div>
										</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" style="border-top: none" class="container">
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy;Judy Mou and Hannah Yang. All rights reserved.</li>
                    </ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/skel-viewport.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
      <script src="/js/index.js"></script>

			<script src="/js/d3.min.js"></script>
			<script src="/js/c3.min.js"></script>
			<script src="/js/business-dashboard.js"></script>
	</body>
</html>
