<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="/styles/main.css" />
    <link rel="stylesheet" href="/styles/index.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="//js.arcgis.com/3.15/esri/css/esri.css"/>
	</head>
	<body class="right-sidebar" id="post">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">


						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="/">Home</a></li>
									<li class="current"><a href="/sponsors">Sponsors</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="8u 12u(mobile)">

								<!-- Content -->
									<article class="box post">
										<a href="#" class="image featured"><img src="{{data.post.coverPicture}}" alt="" /></a>
										<header>
											<h2>{{data.post.title}}</h2>
											<p>{{data.post.content.brief}}</p>
										</header>
										<p>
										  {{data.post.content.extended}}
                    </p>
										<section>
											<header>
												<h3 style="padding-bottom: 2em">Option 1</h3>
											</header>
										  <span class="image featured"><img src="{{data.post.option1.picture}}" alt="" /></span>
											<p style="font-size:20px"><b>{{data.post.option1.description}}</b>: {{data.post.option1.amount}} total, {{data.post.option1.claimedAmount}} claimed, {{data.post.option1.numPendingRequest}} pending request</p>
                      <footer>
                        <a href="#" class="claim button">Request yours now</a>
                      </footer>
                    </section>
										<section>
											<header>
												<h3 style="padding-bottom: 2em">Option 2</h3>
											</header>
										  <span class="image featured"><img src="{{data.post.option2.picture}}" alt="" /></span>
											<p style="font-size:20px"><b>{{data.post.option2.description}}</b>: {{data.post.option2.amount}} total, {{data.post.option2.claimedAmount}} claimed, {{data.post.option2.numPendingRequest}} pending request</p>
                      <footer>
                        <a href="#" class="claim button">Request yours now</a>
                      </footer>
                    </section>
									</article>

							</div>
							<div class="4u 12u(mobile)">

								<!-- Sidebar -->
									<section class="box">
										<div id="map" class="image featured">
										</div>
										<span class="address">{{data.post.address}}</span>
										<input class="lat" type="hidden" value="{{data.post.lat}}"/>
										<input class="lng" type="hidden" value="{{data.post.lng}}"/>
										<hr/>
										<p>Sponsored 3 events the past month with contribution to 50 events the past year</p>
                    <footer>
											<a href="/business/{{data.post.slug}}" class="button alt">See donation history</a>
										</footer>
									</section>
							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" style="border-top: none" class="container">
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy;Judy Mou and Hannah Yang. All rights reserved.</li>
                    </ul>
									</div>

							</div>
						</div>
					</section>
				</div>
		</div>
    <div class="overlay-content popup" id="claimpopup">
      <span class="close-popup">x</span>
      <form action="#" method="post" style="padding-top: 55px">
        <div class="row uniform">
          <div class="6u 12u$(small)">
            <input name="name" id="namepopup" value="" placeholder="name" type="text">
          </div>
          <div class="6u$ 12u$(small)">
            <input name="email" id="emailpopup" value="" placeholder="email" type="email">
          </div>
          <div class="12u$">
            <input name="amount" id="amountpopup" value="" placeholder="How much do you need?" type="text">
          </div>
          <div class="12u$">
            <input type="text" name="eventtitle" id="eventtitlepopup" value="" placeholder="What's the name of your event?">
          </div>
          <div class="12u$">
            <input type="text" name="eventdesp" id="eventdesppopup" value="" placeholder="Can you describe your event?">
          </div>
          <div class="12u$">
            <input type="text" name="eventlink" id="eventlinkpopup" value="" placeholder="Can you provide a link to your event for updates?">
          </div>
          <div class="12u$">
            <input type="text" name="taxid" id="taxidpopup" value="" placeholder="tax id (optional)">
            <p>If your request is approved, we send your sponsor this tax id and an acknowledge form for tax purposes</p>
          </div>
          <div class="12u$">
            <ul class="actions">
              <li><input value="Send" id="claimpopup-send-message" class="" type="submit"></li>
            </ul>
          </div>
        </div>
      </form>
    </div>

		<!-- Scripts -->
			<script src="/js/jquery.min.js"></script>
			<script src="/js/jquery.dropotron.min.js"></script>
			<script src="/js/skel.min.js"></script>
			<script src="/js/skel-viewport.min.js"></script>
			<script src="/js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="/js/main.js"></script>
      <script src="/js/index.js"></script>

			<script src="//js.arcgis.com/3.15/"></script>
			<script src="/js/map.js"></script>
	</body>
</html>
