<!DOCTYPE HTML>
<!--
	Dopetrope by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Dopetrope by HTML5 UP</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="styles/main.css" />
    <link rel="stylesheet" href="styles/index.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<link rel="stylesheet" href="//js.arcgis.com/3.15/esri/css/esri.css"/>
	</head>
	<body class="right-sidebar" id="sponsors">
		<div id="page-wrapper">

			<!-- Header -->
				<div id="header-wrapper">
					<div id="header">


						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a href="/">Home</a></li>
									<li class="current"><a href="/sponsors">Sponsors</a></li>
								</ul>
							</nav>

					</div>
				</div>

			<!-- Main -->
				<div id="main-wrapper">
					<div class="container">
						<div class="row">
							<div class="12u mapbanner">
    						<div id="map">
	  						</div>
							</div>
						</div>
						<div class="row">
							<div class="12u filters">
								<h4>Filters:</h4>
							</div>
						</div>
						<div class="row">
							<div class="12u">

								<!-- Portfolio -->
									<section>
										<div class="row">
                      {{# each data.posts.results}}
											<div class="4u 12u(mobile) place">
												<section class="box">
													<a href="{{postUrl slug}}" class="image featured"><img src="{{coverPicture}}" alt="" /></a>
													<header>
														<h3><a class="place-title" href="{{postUrl slug}}">{{title}}</a></h3>
                            <p>{{{content.brief}}}</p>
														<input type="hidden" class="address" value="{{address}}"/>
														<input type="hidden" class="lat" value="{{lat}}"/>
														<input type="hidden" class="lng" value="{{lng}}"/>
													</header>
												</section>
											</div>
                      {{/each}}
										</div>
									</section>

							</div>
						</div>
					</div>
				</div>

			<!-- Footer -->
				<div id="footer-wrapper">
					<section id="footer" style="border-top: none" class="container">
						<div class="row">
							<div class="12u">

								<!-- Copyright -->
									<div id="copyright">
										<ul class="links">
											<li>&copy;Judy Mou and Hannah Yang. All rights reserved.</li>
                    </ul>
									</div>

							</div>
						</div>
					</section>
				</div>

		</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/jquery.dropotron.min.js"></script>
			<script src="js/skel.min.js"></script>
			<script src="js/skel-viewport.min.js"></script>
			<script src="js/util.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
      <script src="js/index.js"></script>

			<script src="//js.arcgis.com/3.15/"></script>
			<script src="js/map.js"></script>
			<script src="js/filter.js"></script>
	</body>
</html>
